<div class="tree">
    <header class="tree-head">
        <h2 class="tree-head-h2">菜单</h2>
    </header>
    <div>
        <div *ngFor="let proItem of product">
            <div *ngIf="!!proItem.children">
                <div class="tree-one" (click)="openChild(proItem)">
                    <span>{{proItem.title}}</span>
                    <i
                        [class]="['iconfont','icon-arrow-right', choiceFIdArr.includes(proItem.id) ? 'icon-dowm' : null]"></i>
                </div>
                <ul class="tree-childs"
                    [style.height.px]="choiceFIdArr.includes(proItem.id) ? 48 * proItem.children.length : 0">
                    <li *ngFor="let item of proItem.children"
                        [class]="{'tree-one-child': true,'tree-one': true, 'tree-one--active': item.id == choiceId}"
                        (click)="chliceCPId(item.id)">
                        <span>{{item.name}}</span>
                    </li>
                </ul>
            </div>
            <div *ngIf="!proItem.children" [class]="{'tree-one': true, 'tree-one--active': proItem.id == choiceId}"
                (click)="chliceCPId(proItem.id)">
                <span>{{proItem.name}}</span>
            </div>
        </div>
    </div>

</div>
